<!doctype html>
<html lang="en" ng-app>
<head>
<meta charset="UTF-8">
<title>ng-class</title>
<script src="../js/angular.min.js"></script>
<style>
.error {
	background-color: #c00;
}
.warning {
	background-color: #f60;
}
.default {
	font-size:24px;
	font-weight: bold;
	color: blue;
	text-shadow: 0 1px -1px #000;
}	
</style>
</head>
<body>
<div ng-controller="HeaderController">
	<div ng-class="{error: isError, warning: isWarning, default: isDefault}">{{messageText}}</div>
	<button ng-click="showError()">Simulate Error</button>
	<button ng-click="showWarning()">Simulate Warning</button>
</div>
<script>
	function HeaderController($scope){
		$scope.isError = false;
		$scope.isWarning = false;
		$scope.isDefault = true;
		$scope.messageText = 'Default msg';

		$scope.showError = function(){
			$scope.messageText = 'This is an error';
			$scope.isError = true;
			$scope.isWarning = false;
		};

		$scope.showWarning = function(){
			$scope.messageText = 'Just a warning. Please carry on.';
			$scope.isWarning = true;
			$scope.isError = false;
		};
	}
</script>	
</body>
</html>